{{> _header}}
  {{page-content}}

  <!-- my-notes collection of article-->
  <!-- all-page-templates collection of article -->
  <!-- aside about-me card -->
  <!-- section categories -->
  <!-- section tags -->
{{> _footer}}